body {
    margin: 8px;
    background-color: #222222;
}

.test {
    height: auto;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 8px;
    position: relative;
    nax-height: none;
    transition: max-height 0.2s ease-out;
}

.test:first-child {
    border-radius: 16px 4px 16px 16px;
}

.collapsible {
    background-color: #F9F0EA;
    color: #222222;
    cursor: pointer;
    padding: 24px 16px 24px 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Inter", serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    overflow: hidden;
    nax-height: none;
}

.content {
    background-color: #F9F0EA;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.collapsible + .content {
    max-height: 0;
}

.collapsible.active + .content {
    max-height: 999px;
}













.content p {
    margin: -4px 24px 24px 24px;
    min-height: 40vh;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    margin-top: 80px;
}

.avatar {
    height: 48px;
    Border-radius: 4px;
}


h2 {
    font-size: 24px;
    color: #ffffff;
    font-family: "Inter", serif;
    font-weight: 500;
    margin-left: 8px;
}

.actionbar {
    margin: 16px;
    display: flex;
}

.primary {
    color: #222222;
    background-color: #ffffff;
    height: 48px; 
    padding: 16px 24px;
    font-family: "Inter", serif;
    font-size: 14px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
}

.thumbnail {
    height: 48px;
    border-radius: 24px;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.primary:hover {
    color: #ffffff;
    background-color: #222222;
}

.card {
    color: #ffffff;
    background-color: #a7cC61; 
    border-radius: 16px;
    font-family: "Inter", serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
    display: inline-block;
    width: 100%;
}

.card p {
    padding: 22px 24px 16px 24px;
    margin: 0;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
